@page "/Compass"
@using MEOW.Components.Enums
@using MEOW.Components.Models
@using MEOW.Components.Services
@using MEOW.Components.UIComponents
@implements IAsyncDisposable
@inject INavService Nav
<h3>Compass</h3>
<div>Location: @_location.ToString()</div>

<div class="compass-outer" style="transform: rotate(@((int)_north)deg);">
    <p class="north-indicator">N</p>
    <div class="compass-inner">
        @if (_location is not null)
        {
            foreach (var nPoint in _navPoints)
            {
                <CompassIcon Type="@nPoint.Type" Rotation="@_north"
                             ScreenPosition="@nPoint.ToScreenPositionFromOrigin(_location)"/>
            }
        }
    </div>
    <div class="compass-inner-cover">
    </div>
</div>

@foreach (var nPoint in _navPoints)
{
    <p>@nPoint.ToScreenPositionFromOrigin(_location).ToString()</p>
}

@code {
    NavPoint _location = new(9.9906f, 57.0127f, NavPointType.OtherDevice, -1);
    double _north; // Magnetic North in Degrees from where the phone is heading
    bool _started;
    List<NavPoint> _navPoints = [];

    public async ValueTask DisposeAsync()
    {
        Nav.CompassChanged -= OnHeading;
        Nav.LocationChanged -= OnLocation;
        Nav.NavPointsChanged -= OnNavPoints;

        await Nav.StopCompass();
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender || _started) return;
        _started = true;

        Nav.CompassChanged += OnHeading;
        Nav.LocationChanged += OnLocation;
        Nav.NavPointsChanged += OnNavPoints;

        _navPoints = Nav.GetNavPoints();

        await Nav.StartCompass();
        _ = Nav.TryStartGps();
        AddDebugPoints();
    }

    private void OnHeading(object? _, CompassData cData)
    {
        _north = 360 - cData.HeadingMagneticNorth;
        InvokeAsync(StateHasChanged);
    }

    private void OnLocation(object? _, NavPoint location)
    {
        _location = location;
        _navPoints = Nav.GetNavPoints();
        Console.WriteLine(Nav.GetNavPoints().Count);
        InvokeAsync(StateHasChanged);
    }

    private void OnNavPoints(object? _, List<NavPoint> points)
    {
        _navPoints = points;
        InvokeAsync(StateHasChanged);
    }

    private void AddDebugPoints()
    {
        Console.WriteLine("Added Points: " + Nav.GetNavPoints().Count);
        Nav.AddNavPoint(new NavPoint(_location.Longitude + 1f, _location.Latitude, NavPointType.Danger));
        Nav.AddNavPoint(new NavPoint(_location.Longitude - 1f, _location.Latitude, NavPointType.OtherDevice));
        Nav.AddNavPoint(new NavPoint(_location.Longitude, _location.Latitude + 1f, NavPointType.Danger));
        Nav.AddNavPoint(new NavPoint(_location.Longitude, _location.Latitude - 1f, NavPointType.OtherDevice));
    }

}